**/bin/
**/obj/
**/node_modules/
**/out/
**/out-test/
**/.vscode-test/
**/TestResults/
**/coverage/
**/.nyc_output/
**/.vs/
vscode/csmx-vscode/out/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
**/csmx/
**/csmx/
**/Generated/Csmx/
**/*.vsix
vscode/csmx-vscode/server/
.appdata/
.dotnet/
.nuget-packages/
.nuget-http-cache/
.nuget-scratch/
artifacts/
